@color-poke-orange: #ed6823;

@color-poke-primary-blue: #045297;

@color-poke-secondary-blue: #3a5b7c;

@color-poke-nav-unselected: #bbdefb;

@color-poke-slider-selected: #757575;

@color-poke-slider-not-selected: #d5d4d4;

@color-poke-footer-bg: #696969;

@color-poke-year-footer-bg: #212121;

@color-poke-white: #ffffff;

@color-poke-grey-1: #f5f5f5;

@color-poke-black: #000000;

@color-poke-tile-bg-dashboard: #f3f2f2;


// theme color ariables
@color-dark-bg: #343a40;
@color-light-bg: #e3e7e9;

@color-card-bg-dark-theme: #36464f;
@color-card-bg-light-theme: #ffffff;

@color-poke-search-light-bg: #f5f5f5;
@color-poke-search-light: #494949;
@color-search-border: #cecece;
@color-poke-search-dark-bg: #000000;
@color-poke-search-dark: #f5f5f5;

@color-poke-red: #ef5750;
@color-poke-red-2: #c74527;
@color-poke-black: #2f2f2f;
@color-poke-blue: #3761a8;

// poke type-colors
@color-poke-type-poison: #904a94;
@color-poke-type-grass: #6cbe31;
@color-poke-type-fire: #e34f1a;
@color-poke-type-water: #3194f3;
@color-poke-type-flying: #8fa8f7;
@color-poke-type-bug: #a8b81f;
@color-poke-type-normal: #c7c4ba; 
@color-poke-type-electric: #f7bb19;
@color-poke-type-ground: #d4b356;
@color-poke-type-fairy: #f2b3f3;
@color-poke-type-fighting: #83371f; 
@color-poke-type-psychic: #e85e94;
@color-poke-type-rock: #b59552;
@color-poke-type-steel: #bcb8c6;
@color-poke-type-dark: #574436;
@color-poke-type-dragon: #755de0;
@color-poke-type-ghost: #625eb1;
@color-poke-type-ice: #98e5fb;

 


