@color-poke-orange: #ed6823;

@color-poke-primary-blue: #045297;

@color-poke-secondary-blue: #3a5b7c;

@color-poke-nav-unselected: #bbdefb;

@color-poke-slider-selected: #757575;

@color-poke-slider-not-selected: #d5d4d4;

@color-poke-footer-bg: #696969;

@color-poke-year-footer-bg: #212121;

@color-poke-white: #ffffff;

@color-poke-grey-1: #f5f5f5;

@color-poke-black: #000000;

@color-poke-tile-bg-dashboard: #f3f2f2;


// theme color ariables
@color-dark-bg: #343a40;
@color-light-bg: #f5f5f5;
