@import './_colors.less';

.poke-type-tile(){
    text-transform: capitalize;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
  
  .poke-type-poison {
    .poke-type-tile();
    background-color: @color-poke-type-poison;
  }
  
  .poke-type-grass {
    .poke-type-tile();
    background-color: @color-poke-type-grass;

    background: #6cbe31;
  }
  
  .poke-type-fire {
    .poke-type-tile();
    background-color: @color-poke-type-fire;

    background: #e34f1a;
  }
  
  .poke-type-water {
    .poke-type-tile();
    background-color: @color-poke-type-water;
  }
  
  .poke-type-flying {
    .poke-type-tile();
    background-color: @color-poke-type-flying;
  }
  
  .poke-type-bug {
    .poke-type-tile();
    background-color: @color-poke-type-bug;
  }
  
  .poke-type-normal {
    .poke-type-tile();
    background-color: @color-poke-type-normal;
  }
  
  .poke-type-electric {
    .poke-type-tile();
    background-color: @color-poke-type-electric;
  }
  
  .poke-type-ground {
    .poke-type-tile();
    background-color: @color-poke-type-ground;
  }
  
  .poke-type-fairy {
    .poke-type-tile();
    background-color: @color-poke-type-fairy;
  }
  
  .poke-type-fighting {
    .poke-type-tile();
    background-color: @color-poke-type-fighting;
  }
  
  .poke-type-psychic {
    .poke-type-tile();
    background-color: @color-poke-type-psychic;
  }
  
  .poke-type-rock {
    .poke-type-tile();
    background-color: @color-poke-type-rock;
  }
  
  .poke-type-steel {
    .poke-type-tile();
    background-color: @color-poke-type-steel;
  }
  
  .poke-type-dark {
    .poke-type-tile();
    background-color: @color-poke-type-dark;
  }

  .poke-type-dragon {
    .poke-type-tile();
    background-color: @color-poke-type-dragon;
  }

  .poke-type-ghost {
    .poke-type-tile();
    background-color: @color-poke-type-ghost;
  }

  .poke-type-ice {
    .poke-type-tile();
    background-color: @color-poke-type-ice;
  }
 
 
  