@import './_colors.less';

.getLightTheme() {
    @theme-poke-primary-color: @color-poke-black;
    @theme-poke-primary-bg: @color-light-bg;
    @theme-poke-card-bg: @color-card-bg-light-theme;
}

.getDarkTheme() {
    @theme-poke-primary-bg: @color-dark-bg;
    @theme-poke-primary-color: @color-poke-white;
    @theme-poke-card-bg: @color-card-bg-dark-theme;
}