@font-poke-xxs: 4px;

@font-poke-xs: 8px;

@font-poke-s: 12px;

@font-poke-sm: 16px;

@font-poke-m: 20px;

@font-poke-md: 24px;

@font-poke-l: 28px;

@font-poke-lg: 32px;

@font-poke-xl: 36px;

@font-poke-xxl: 40px;
