<div class="card ">
  <div *ngIf="pokemon?.sprites?.front_default ; else defaultPokeImage" class="text-center" >
    <!-- <img class="card-img-left" *ngIf="pokemon" [src]="pokemon.sprites.back_default" [alt]="miniPokemon.name+ ' back_default'"> -->
    <img class="card-img-right" *ngIf="pokemon" [src]="pokemon.sprites.front_default" [alt]="miniPokemon.name+ ' front_default'">

    <!-- working images starts here -->
      <!-- <img class="card-img-top" *ngIf="pokemon" [src]="pokemon.sprites.back_default" [alt]="miniPokemon.name+ ' back_default'">
      <img class="card-img-top" *ngIf="pokemon" [src]="pokemon.sprites.back_shiny" [alt]="miniPokemon.name+ ' back_shiny'">
      <img class="card-img-top" *ngIf="pokemon" [src]="pokemon.sprites.front_shiny" [alt]="miniPokemon.name+ ' front_shiny'"> -->
    <!-- working images ends here -->
        <!-- <img class="card-img-top" *ngIf="pokemon" [src]="pokemon.sprites.back_female" [alt]="miniPokemon.name+ ' back_female'"> -->
      <!-- <img class="card-img-top" *ngIf="pokemon" [src]="pokemon.sprites.front_shiny_female" [alt]="miniPokemon.name+ ' front_shiny_female'"> -->
        <!-- <img class="card-img-top" *ngIf="pokemon" [src]="pokemon.sprites.back_shiny_female" [alt]="miniPokemon.name+ ' back_shiny_female'"> -->
      <!-- <img class="card-img-top" *ngIf="pokemon" [src]="pokemon.sprites.front_female" [alt]="miniPokemon.name+ ' front_female'"> -->
    
  </div>
  <div class="card-body">
    <h5 class="card-title poke-card-title">{{miniPokemon.name}}</h5>
    <div *ngIf="pokemon">
      <p class="font-m" ><span class="poke-card-label" >Weight: </span><span>{{pokemon.weight}}</span></p>
      <p class="font-m" ><span class="poke-card-label" >Height: </span><span *ngIf="pokemon?.height">{{pokemon.height*100/1000}} m</span></p>
      <ng-container *ngTemplateOutlet="pokeTypes"></ng-container>
      <ng-container *ngTemplateOutlet="pokeAbilities"></ng-container>

    </div>
  </div>
</div>

<ng-template #pokeTypes>
  <p>
    <span class="font-m poke-card-label">Type:</span>
    <span *ngFor="let pokeType of pokemon.types">
      <span class="poke-type-{{pokeType.type.name}} ml-2">{{pokeType.type.name}} </span>
    </span>  
  </p>
</ng-template>

<ng-template #pokeAbilities>
  <p class="font-m"><span class="poke-card-label" >Abilities: </span> 
  <span class="text-capitalize" *ngFor="let pokeAbility of pokemon.abilities; let i = index"> <span *ngIf="!pokeAbility.is_hidden"> {{pokeAbility.ability.name}}{{ i === pokemon.abilities.length-1 ? '.' : ',' }}</span></span>
</p>
</ng-template>

<ng-template #defaultPokeImage>
  <div class="text-center">
    <img class="card-img-right" src="/assets/pokeballFavicon.png/" alt="">    
  </div>
</ng-template>

