<div [ngClass]="{ 'light-bg' : isLight, 'dark-bg' : !isLight  }">
  
  <nav class="font-xxl poke-font-hollow" >
    <div class="d-inline">
      Welcome PokeFan
    </div>
    <a class="btn float-right theme-selector-btn" [ngClass]="{ 'bg-dark text-white' : isLight, 'bg-light text-dark' : !isLight}"
      (click)="toggleTheme()">{{isLight ? 'Dark' : 'Light'}} Theme</a>
  </nav>
  <div class="container-fluid" >
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 pt-5 " *ngFor="let pokemon of pokeList" >
        <poke-card [miniPokemon]="pokemon" *ngIf="pokemon && pokemon.url" ></poke-card>  
      </div>
    </div>
  </div>
  
</div>


